@font-face {
  font-family: vanilla-extract;
  src: url(VanillaExtractRegular.ttf);
}

.header {
  font-family: vanilla-extract;
  padding: 60px;
  text-align: center;
  background: #F70F6D;
  color: white;
  font-size: 30px;

}
.install_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  -webkit-app-region: no-drag;
  margin-top: 100px;
  margin-left: 100px;
  float: left;
}
.install_mods_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  -webkit-app-region: no-drag;
  display: inline-block;
  float: right;
  padding-right: 100px;
  padding-top: 100px
}
::-webkit-scrollbar {
display: none;
}
