@font-face {
  font-family: vanilla-extract;
  src: url(VanillaExtractRegular.ttf);
}

.header {
  font-family: vanilla-extract;
  padding: 60px;
  text-align: center;
  background: #F70F6D;
  color: white;
  font-size: 30px;

}
.install_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  -webkit-app-region: no-drag;
  margin-top: 100px;
  margin-left: 100px;
  float: left;
  /* display: none; */
}
.install_mods_btn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  -webkit-app-region: no-drag;
  display: inline-block;
  float: right;
  padding-right: 100px;
  padding-top: 100px;
  /*display: none; */
}
.progress-bar {
  padding-top: 75px;
  padding-right: 400px;
  padding-left: 485px;
  background-color: white;
  text-align: center;
  font-weight: lighter;
  display: none;
}
.loading-xmodr-text {
  padding-top: 100px;
  padding-right: 400px;
  padding-left: 485px;
  text-align: center;
  color: black;
  display:none;
}
::-webkit-scrollbar {
display: none;
}
